.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #bdc3c7;
  background-color: #ecf0f1;
  font-size: 3rem;
  height: 150px;
  width: 100px;
  border-radius: 8px;
}

.card:hover {
}
